<!DOCTYPE html>
<html lang='pt-BR'>
	<% include ../common/head %>
	<% include ../common/header %>

	<body>
		<main style="margin-top: 3%">
			<div class="row">
				<div class="col-md-9 offset-md-1">
					<div class="card col-md-12 offset-md-1">
						<div class="card-title center">
						<h1>Página não encontrada.</h1>
						</div>
						<div class="card-content col-md-12">
							<p class="flow-text" style="text-align: justify;">
							Ultize o menu localizado no canto superior direito para navegar.
							</p>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>

	<%include ../common/footer %>

</html>
