<header>
  <nav id="top" style="background-color:black; margin-bottom:0px !important">
   <div class="container" style="margin-top:2px !important">
     <div class="pull-left">
       <div id="logo"><a href="home"><img width="200px" height="110px"src="./image/kart.jpg" title="Home" alt="Home" class="img-responsive" /></a>
         </div>
        </div>
        <div class="nav pull-right">
          <div class="dropdown  col-md-2 offset-md-10" >
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
              </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
             <a class="dropdown-item" href="home">Home</a>
             <a class="dropdown-item" href="uploadFile">Importar Arquivo</a>

          </div>
          </div>

      </div>
      </div>
    </nav>


</header>
